.layout {
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: grid; /* Grid Layout */
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(12, 1fr); /* fr = fraction*/
}

.layout > header, .layout > footer {
    grid-column: span 12;
    border: 1px solid black;
}

.layout > aside {
    grid-column: span 2;
    border: 1px solid black;
}

.layout > main {
    grid-column: span 10;
    border: 1px solid black;
}

